.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logout {
  position: absolute;
  top: 0;
  right: 0;
}

.Shuffler-playlist {
  text-align: left;
  list-style-type: none;
  padding: 0.5%;
}

.Playlist-name {
  font-size: calc(10px + 2vmin);
}

.Playlist-img {
  position: relative;
  margin: 0.5%;
  width: calc(75px + 2vmin);
}

.Shuffle-button {
  width: calc(75px + 2vmin);
  text-align: center;
  margin: 0.5%;
}

.Artist-list {
  list-style-type: none;
}

.Creator-text {
  margin: 0.5%;
}

.Creator-button {
  background-color: green;
  margin: 0.5%
}